.location-text, span{
    font-weight: 700;
}

.text-a{
    font-weight: 500 !important;
    color: green !important;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.text-a:hover{
    font-weight: 500 !important;
    color: lightblue !important;
    text-decoration: none;
}