<img src="./../../../assets/contact/contact-coracampos.jpeg" alt="coragamescontact.png" class="img-contact">
<h6 class="mt-3 text-center text-info"><i class="bi bi-person-lines-fill text-primary"></i> Datos de contacto:</h6>
<ul>
    <li>
        <a
            href="https://www.google.com/maps/place/Av.+Roque+P%C3%A9rez+1615+4TO+PISO,+N3300MTV+Posadas,+Misiones/@-27.3617219,-55.8935085,17z/data=!4m15!1m8!3m7!1s0x9457bfcd2e7015dd:0xa3a6ccad39489780!2sAv.+Roque+P%C3%A9rez+1615+4TO+PISO,+N3300MTV+Posadas,+Misiones!3b1!8m2!3d-27.3617219!4d-55.8909336!16s%2Fg%2F11qp_02qfd!3m5!1s0x9457bfcd2e7015dd:0xa3a6ccad39489780!8m2!3d-27.3617219!4d-55.8909336!16s%2Fg%2F11qp_02qfd?entry=ttu">
            <i class="bi bi-geo-alt-fill"></i> Roque Perez 1615, 4to piso. Posadas, Misiones
        </a>
    </li>
    <li>
        <a href="https://wa.link/s6z6pa"><i class="bi bi-whatsapp"></i> +54-376-4228886</a>
    </li>
    <li>
        <a href="mailto:info@coracampos.com.ar"><i class="bi bi-envelope-at-fill"></i> {{email}}</a>
    </li>
</ul>