<div class="card-box-a card-shadow" [routerLink]="['/properties', property._id]">
  <div class="img-box-a">
    <img [src]="property.imgUrls[0]" [alt]="property.desc" class="img-a img-fluid">
  </div>
  <div class="card-overlay">
    <div class="card-overlay-a-content">
      <div class="card-header-a">
        <h2 class="card-title-a">
          <a [routerLink]="['/properties', property._id]">{{property.title}}</a>
        </h2>
      </div>
      <div class="card-body-a">
        <div class="price-box d-flex">
          <span class="price-a">Renta | $ {{property.price}}</span>
        </div>
        <a [routerLink]="['/properties', property._id]" class="link-a">Más información
          <span class="bi bi-chevron-right"></span>
        </a>
      </div>
      <div class="card-footer-a">
        <ul class="card-info d-flex justify-content-around">
          <li>
            <h4 class="card-info-title">Area</h4>
            <span>{{property.area}}</span>
          </li>
          <li>
            <h4 class="card-info-title">Dormitorios</h4>
            <span>{{property.beds}}</span>
          </li>
          <li>
            <h4 class="card-info-title">Baños</h4>
            <span>{{property.baths}}</span>
          </li>
          <li>
            <h4 class="card-info-title">Garage</h4>
            <span>{{property.garage}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>