<div class="title-box-d">
    <h3 class="title-d text-center mb-3">¡MAS DE 15 AÑOS
        <span class="text-success">TRANSFORMANDO OPORTUNIDADES EN</span> NEGOCIOS RURALES Y URBANOS!
    </h3>
</div>
<h6 class="color-text-a">
    Somos una empresa que busca conectar la oferta y la demanda de actores Rurales mediante una propuesta concreta de
    negocios. Desarrollamos proyectos rurales que van más allá de la simple compra de un Terreno. Nos interesa expandir
    el campo de posibilidades de nuestros clientes, ofrecerles opciones concretas y estudiadas, respecto a qué hacer con
    sus tierras o como llevar adelante un negocio Rural o Urbano.
</h6>