<div class="row about-list">
    <div class="col-md-6">
        <div class="media">
            <i class="bi bi-geo-alt"></i>
            <label class="ml-1"> Ubicación</label>
            <p>Roque Perez 1615</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="media">
            <i class="bi bi-telephone"></i>
            <label class="ml-1">Telefono</label>
            <p>+549-376-4228886</p>
        </div>
        <div class="media">
            <i class="bi bi-envelope-at"></i>
            <label class="ml-1">Email</label>
            <a href="mailto:info@coracampos.com.ar">{{email}}</a>
        </div>
    </div>
</div>