<div class="row">
    <div class="col bg-white">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center text-center">
                            <h2 class="text-primary"><i class="bi bi-droplet-fill"></i></h2>
                        </div>
                        <div class="media-body text-right">
                            <h3>{{detail?.baths}} </h3>
                            <span>Baños</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col bg-white">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <h2 class="text-success"><i class="bi bi-door-open-fill"></i></h2>
                        </div>
                        <div class="media-body text-right">
                            <h3>{{detail?.beds}}</h3>
                            <span>Dormitorios</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col bg-white">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <h2 class="text-danger"><i class="bi bi-house-door-fill"></i></h2>
                        </div>
                        <div class="media-body text-right">
                            <h3>{{detail?.garage}}</h3>
                            <span>Garages</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col bg-white">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <h2 class="text-info"><i class="bi bi-globe-americas"></i></h2>
                        </div>
                        <div class="media-body text-right">
                            <h3>{{detail?.ambientes}}</h3>
                            <span>Ambientes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>