<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="testimonial-img img-testimonial-shadow">
            <img [src]="client.imgUrl" [alt]="client.desc" class="img-fluid ">
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="testimonial-ico">
            <i class="bi bi-chat-quote-fill"></i>
        </div>
        <div class="testimonials-content">
            <p class="testimonial-text">
                {{client.desc}}
            </p>
        </div>
        <div class="testimonial-author-box">
            <img [src]="client.avatar" [alt]="client.client" class="testimonial-avatar">
            <h5 class="testimonial-author">{{client.client}}</h5>
        </div>
    </div>
</div>