<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top bg-dark">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
      aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation" data-bs-auto-close="outside">
      <span class="navbar-toggler-icon"></span>
      <span></span>
      <span></span>
    </button>
    <a class="navbar-brand text-brand" href="index.html"><app-logo-navbar></app-logo-navbar></a>
    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      <ul class="navbar-nav">
        <app-items-navbar *ngFor="let itemNavbar of itemsNavbar" [itemNavbar]="itemNavbar"></app-items-navbar>
      </ul>
    </div>
    <app-search></app-search>
  </div>
</nav>