<main id="main">
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Propiedades</h1>
            <span class="color-text-a">Vea las propiedades que tenemos para usted</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-grid-properties></app-grid-properties>
  <div class="container text-center pt-1 pb-1">
    <a [href]="urlMercadoLibre" class="btn btn-success text-white btn-block pb-2 pt-2"><i
        class="bi bi-node-plus-fill"></i>
      Ver
      más propiedades</a>
  </div>

</main>