.carousel-pagination {
    margin-top: 10px;
    text-align: center;
}

.carousel-pagination .swiper-pagination-bullet {
    width: 18px;
    height: 10px;
    background-color: #555;
    margin: 0 4px;
    border-radius: 0;
    opacity: 1;
    transition: 0.3s;
}



.carousel-pagination {
    margin-top: 10px;
    text-align: center;
}
