<li class="text-white">
    <span class="text-white"><i class="bi bi-telephone-fill text-success"></i> Telefono: </span><a
        href="https://wa.me/5493764565811">{{detail.phone}}</a>
</li>
<li class="text-white">
    <span class="text-white"><i class="bi bi-envelope-at-fill text-success"></i> Email: </span><a
        href="mailto:info@coracampos.com.ar">{{detail.email}}</a>
</li>
<li class="text-white">
    <span class="text-white"><i class="bi bi-geo-alt-fill text-success"></i> Ubicación: </span><a
        href="https://maps.app.goo.gl/3yWrJV5rdkg2Sshw6">{{detail.location}}</a>
</li>